asn1crypto==0.24.0
cryptography==2.1.4
dj-database-url==0.5.0
Django==1.11.11
django-appconf==1.0.3
django-classy-tags==1.0.0
django-easy-maps==1.1.0
django-filter==2.0.0
django-location-field==2.1.0
django-mapbox-location-field==1.4.0
django-suit==0.2.28
djangorestframework==3.9.4
enum34==1.1.6
geographiclib==1.50
geopy==1.21.0
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.1.1
psycopg2==2.8.4
psycopg2-binary==2.8.4
pycrypto==2.6.1
pygobject==3.26.1
pytz==2019.3
pyxdg==0.25
SecretStorage==2.3.1
six==1.14.0
sqlparse==0.2.4
